@charset "UTF-8";
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "neuropol_x";
  src: url("neuropol_x.ttf");
}
header {
  background-color: #f8f9fa;
  width: 100%;
}
header nav .nombre-tienda,
header nav .categorias {
  margin-left: 3%;
  color: #8cbb51;
  font-weight: bold;
  font-size: 100%;
  font-family: neuropol_x;
}
header nav .categorias {
  padding-left: 10px;
  margin-left: 0;
}

body {
  background-image: url("./Media/Background.jpg");
  background-attachment: fixed;
}

footer {
  height: 5hv;
}

h1,
h2,
h3 {
  font-family: neuropol_x;
  color: #054756;
  text-align: center;
}

.logo {
  margin-left: 10%;
}

.container {
  margin: 0;
  width: auto;
}

.icon-header {
  width: 3vw;
  min-width: 35px;
  padding: 0 5px 5px 0;
}

.img-banner {
  width: 100vw;
}

.icon-category {
  background-color: #f8f9fa;
  padding: 2% 0%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.icon-category img {
  padding: 3px;
  width: 7vw;
  max-width: 80px;
}
.icon-category img:hover {
  transform: scale(1.2);
  border: solid 1px #054756;
  border-radius: 5px;
  padding: 5%;
}

.featured-carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.featured-carousel img {
  margin: 1vw;
  width: 20vw;
  border: transparent 2px;
}

.pagos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.pagos .pagos__img {
  width: 8%;
  max-width: 80px;
}

.aside-category {
  padding: 1vw;
  margin: 0 5% 0 5%;
  border: solid 1px #054756;
  border-radius: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form {
  color: #054756;
}

aside span {
  color: #054756;
  font-weight: bold;
}

article {
  padding: 10px;
}

/*Oculta secciones para movil*/
#headerMovil {
  display: none;
}

#sidebarMovil {
  display: none;
}

#container-category-movil {
  display: none;
}

#form-movil {
  display: none;
}

/*Animacion*/
.featured-carousel img {
  animation-name: imgRefAnima;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0;
}

/* SMARTPHONE */
@media (max-width: 520px) {
  /* GRID por AREAS */
  #gridAreas {
    display: grid;
    /* 3 columnas y 4 filas */
    grid-template-areas: "contenido";
    /* Tamaño */
    grid-template-columns: 1fr;
    column-gap: 1%;
    row-gap: 0;
  }

  .nombre-tienda {
    font-size: 1rem;
    margin-left: 5%;
  }

  .logo {
    width: 15vw;
  }

  .categorias {
    display: none;
  }

  aside {
    display: none;
  }

  #headerNormal {
    display: none;
  }

  #headerMovil {
    display: block;
  }

  aside img {
    height: 85%;
  }

  #asideNormal {
    display: none;
  }

  #container-category-normal {
    display: none;
  }

  #container-category-movil {
    display: block;
  }

  #sidebarMovil {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 10vw;
    width: 100%;
    bottom: 0;
    position: sticky;
  }

  #form {
    display: none;
  }

  #form-movil {
    display: block;
  }

  footer {
    position: fixed;
    visibility: hidden;
  }
}
/* TABLET */
@media (min-width: 521px) and (max-width: 1023px) {
  #gridAreas {
    display: grid;
    /* 3 columnas y 4 filas */
    grid-template-areas: "lateral contenido";
    /* Tamaño */
    grid-template-columns: 1fr 5fr;
    column-gap: 1%;
    row-gap: 0;
  }

  iframe {
    max-width: 560px;
    width: 100%;
  }
}
@keyframes imgRefAnima {
  from {
    transform: translatey(20px);
    opacity: 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
